// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: url(/assets/b2.jpg) center;
  --ion-color-success: url(/assets/barberpro-intro.gif) center;

  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;


  /** secondary **/
  --ion-color-secondary: #1DA1F2;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #3B5998;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
//  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffffff;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #dd4b39;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #000000;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light:  #f4f4f4;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;


  /** Minhas Customizaçoes **/

  --ion-background-color: black;
 


  .toolbar-title {
  color:white !important;
  font-family: "Cookie", Arial, sans-serif, cursive !important;
  font-size: 32px;
  }

  .icon-inner {
    color: rgba(255, 255, 255, 0.8) !important;
    font-family: "Poppins", Arial, sans-serif;
  }

.btn {
      cursor: pointer;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      border-radius: 30px;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      font-family: "Poppins", Arial, sans-serif;
      font-size: 14px; }
      .btn:hover, .btn:active, .btn:focus {
        outline: none; }
      .btn.btn-primary {
        background: #ce9c6b;
        border: 1px solid #ce9c6b;
        color: #fff; }
        .btn.btn-primary:hover {
          border: 1px solid #ce9c6b;
          background: transparent !important;
          color: #ce9c6b; }
        .btn.btn-primary.btn-outline-primary {
          border: 1px solid transparent;
          background: transparent;
          color: #ce9c6b; }
          .btn.btn-primary.btn-outline-primary:hover {
            border: 1px solid transparent;
            background: #ce9c6b;
            color: #fff; }
      .btn.btn-white {
        background: #fff;
        border: 1px solid #fff;
        color: #000; }
        .btn.btn-white:hover {
          border: 1px solid #000;
          background: #000;
          color: #fff; }
        .btn.btn-white.btn-outline-white {
          border-color: rgba(255, 255, 255, 0.8);
          background: none;
          border-width: 1px;
          color: #fff; }
          .btn.btn-white.btn-outline-white:hover, .btn.btn-white.btn-outline-white:focus, .btn.btn-white.btn-outline-white:active {
            background: #fff;
            border-color: #fff;
            color: #ce9c6b; }
      .btn.btn-outline-black {
        border-color: black;
        background: none;
        border-width: 1px;
        color: #000; }
        .btn.btn-outline-black:hover, .btn.btn-outline-black:focus, .btn.btn-outline-black:active {
          background: #000;
          border-color: #000;
          color: #fff; }
    
  
  
          a { font-family: "Poppins", Arial, sans-serif;
              -webkit-transition: .3s all ease;
              -o-transition: .3s all ease;
              transition: .3s all ease;
              color: #ce9c6b; }
              a:hover, a:active, a:focus {
                color: #ce9c6b;
                outline: none !important;
                text-decoration: none !important; }
            
  p {
    margin: 0px;
    font-family: "Poppins", Arial, sans-serif;
  }

  .input-wrapper  {
    color: rgba(255, 255, 255, 0.8) !important;
    font-family: "Poppins", Arial, sans-serif;
}



  .sc-ion-menu-button-md {
      color:white;
  }
  
  
  .sc-ion-menu-button-md-s {
      color:white;
  }
  
  .sc-ion-menu-button-ios {
      color:white;
  }
  
  
  .sc-ion-item-ios{
    color: rgba(255, 255, 255, 0.8) !important;
  
  } 
  .sc-ion-item-ios-s {
    color: rgba(255, 255, 255, 0.8) !important;
  
  }
  
  .sc-ion-item-md{  
    color: rgba(255, 255, 255, 0.8) !important;
   
  } 
  .sc-ion-item-md-s{  
    color: rgba(255, 255, 255, 0.8) !important;
   
  }
  
  
  .sc-ion-icon {
    color: rgba(255, 255, 255, 0.8) !important;
    font-family: "Poppins", Arial, sans-serif;
  }
  
  .sc-ion-label-ios-h{font-family: "Poppins", Arial, sans-serif;} 
  
  .sc-ion-label-ios-s {font-family: "Poppins", Arial, sans-serif;}
  
  .sc-ion-label-md-h{font-family: "Poppins", Arial, sans-serif;} 
  
  .sc-ion-label-md-s{font-family: "Poppins", Arial, sans-serif;}
  





  
  .appointment-form2 .form-group2 {
    position: relative;
    width: 100%;
    display: block; }
    .appointment-form2 .form-group2 .icon2 {
      position: absolute;
      top: 50% !important;
      right: 0;
      font-size: 14px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
      .appointment-form2 .form-group2 .icon2 span {
        color:gray !important; }
    .appointment-form2 .form-group2 .select-wrap2, .appointment-form2 .form-group2 .input-wrap2 {
      position: relative; }
      .appointment-form2 .form-group2 .select-wrap2 select, .appointment-form2 .form-group2 .input-wrap2 select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none; }
  
  .appointment-form2 .form-control2 {
    border: transparent !important;
    border-bottom: 1px solid #bfbfbf !important;
    height: 33px !important;
    width: 100px !important;
    padding-left: 0;
    padding-right: 0;
    background: transparent !important;
    color:gray !important;
    font-size: 13px;
    border-radius: 0px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }
    .appointment-form2 .form-control2::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #bfbfbf; }
    .appointment-form2 .form-control2::-moz-placeholder {
      /* Firefox 19+ */
      color:#bfbfbf; }
    .appointment-form2 .form-control2:-ms-input-placeholder {
      /* IE 10+ */
      color: #bfbfbf; }
    .appointment-form2 .form-control2:-moz-placeholder {
      /* Firefox 18- */
      color:#bfbfbf; }
    .appointment-form2 .form-control2:focus, .appointment-form2 .form-control2:active {
      border-color:gray; }
  
  .appointment-form2 textarea.form-control2 {
    height: inherit !important; }

 








//APPOINTMENT
.appointment-form{
	.form-group{
		position: relative;
		width: 100%;
		display: block;
		.icon {
			position: absolute;
			top: 50% !important;
			right: 0;
			font-size: 14px;
			transform: translateY(-50%);
			span{
				color: rgba(255,255,255,1) !important;
			}
		}
		.select-wrap, .input-wrap {
			position: relative;
			select {
				appearance: none;
			}
		}
	}
	.form-control {
		border: transparent !important;
		border-bottom: 1px solid rgba(255,255,255,.2) !important;
    height: 58px!important;
    width: 250px!important;
		padding-left: 0;
		padding-right: 0; 
		background: transparent!important;
		color: rgba(255,255,255,.9)!important;
		font-size: 13px;
		border-radius: 0px;
		box-shadow: none!important;
		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: rgba(255,255,255,.9);
		}
		&::-moz-placeholder { /* Firefox 19+ */
		  color: rgba(255,255,255,.9);
		}
		&:-ms-input-placeholder { /* IE 10+ */
		  color: rgba(255,255,255,.9);
		}
		&:-moz-placeholder { /* Firefox 18- */
		  color: rgba(255,255,255,.9);
		}
		&:focus, &:active {
			border-color: white;
		}
	}
	textarea.form-control {
		height: inherit!important;
  }
  
}

}