<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="width: 400px; float: left; font-family: Cookie, Arial, sans-serif, cursive; font-size: 32px">
      {{ 'HORARY.HORARY' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row style="margin-left: 50px">
    <!--p style="color: #ce9c6b">{{ 'HORARY.BARBERNAME' | translate }}</p-->
  </ion-row>
  
 

</ion-content>
